@import "../src/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-lato;
}

p {
  @apply text-banbif-text;
}

#indicador-ruleta {
  animation: mover-indicador 10s forwards;
  transform-origin: center;
}

.mover-indicador {
  animation: mover-indicador 10s cubic-bezier(0.42, 0, 0.58, 1)  forwards;
}

@keyframes girar-iphone {
    0% {
      transform: rotate(0deg); /* Empieza más lento */
    }
    95% {
      transform: rotate(3615deg);; /* Gira 10 veces */
    }
    100% {
      transform: rotate(3600deg); /* Gira 10 veces */
    }
  }
  
.girar-iphone {
  animation: girar-iphone 10s cubic-bezier(0.42, 0, 0.58, 1) forwards; /* Empieza más lento y termina más lento */
}


@keyframes girar-soles50 {
    0% {
      transform: rotate(0deg); 
    }
    95% {
      transform: rotate(3930deg);; /* Gira 10 veces */
    }
    100% {
      transform: rotate(3915deg); 
    }
  }
  
.girar-soles50 {
  animation: girar-soles50 10s cubic-bezier(0.42, 0, 0.58, 1) forwards; 
}



@keyframes girar-soles100 {
    0% {
      transform: rotate(0deg); 
    }
    95% {
      transform: rotate(3885deg);; /* Gira 10 veces */
    }
    100% {
      transform: rotate(3870deg); 
    }
  }
  
.girar-soles100 {
  animation: girar-soles100 10s cubic-bezier(0.42, 0, 0.58, 1) forwards; 
}


@keyframes girar-100opc {
    0% {
      transform: rotate(0deg); 
    }
    95% {
      transform: rotate(3840deg);; /* Gira 10 veces */
    }
    100% {
      transform: rotate(3825deg); 
    }
  }
  
.girar-100opc {
  animation: girar-100opc 10s cubic-bezier(0.42, 0, 0.58, 1) forwards; 
}


@keyframes girar-500opc {
    0% {
      transform: rotate(0deg); 
    }
    95% {
      transform: rotate(3795deg);; /* Gira 10 veces */
    }
    100% {
      transform: rotate(3780deg); 
    }
  }
  
.girar-500opc {
  animation: girar-500opc 10s cubic-bezier(0.42, 0, 0.58, 1) forwards; 
}



@keyframes girar-200opc {
    0% {
      transform: rotate(0deg); 
    }
    95% {
      transform: rotate(3750deg); /* Gira 10 veces */
    }
    100% {
      transform: rotate(3735deg); 
    }
  }
  
.girar-200opc {
  animation: girar-200opc 10s cubic-bezier(0.42, 0, 0.58, 1) forwards; 
}



@keyframes girar-1000opc {
    0% {
      transform: rotate(0deg); 
    }
    95% {
      transform: rotate(3705deg);; /* Gira 10 veces */
    }
    100% {
      transform: rotate(3690deg); 
    }
  }
  
.girar-1000opc {
  animation: girar-1000opc 10s cubic-bezier(0.42, 0, 0.58, 1) forwards; 
}


@keyframes girar-soles20 {
    0% {
      transform: rotate(0deg); 
    }
    95% {
      transform: rotate(3660deg);; /* Gira 10 veces */
    }
    100% {
      transform: rotate(3645deg); 
    }
  }
  
.girar-soles20 {
  animation: girar-soles20 10s cubic-bezier(0.42, 0, 0.58, 1) forwards; 
}


